<!DOCTYPE html>
<html>
<head>
  <title>MicroBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <nav>
      <li><%= link_to('Create an Entry', new_article_path) %></li>
      <li><%= link_to('All Articles', articles_path) %></li> |
    </nav>

    <%= yield %>

  </div>

</body>
</html>
